<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content%}
<main role="main">
<div class="jambotron">
    <div class="container">
        <img src="{% static '/arilogo.ico' %}" class="rounded float-start"  alt="ATZ" height="200" style="margin-right: 200px;"> 
        <h1 class="display-4">Hello, Management</h1>
        <p>Welcome to ATZ library. This is where you manage the books and readers details.</p>
        <p><a role="button" href="#" class="btn btn-primary btn-lg">Connect more readers >></a></p>
      
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Why reading is important?</h2>
        <p>Reading is good for you because it improves your focus, memory, empathy, and communication skills. It can reduce stress, improve your mental health, and help you live longer. Reading also allows you to learn new things to help you succeed in your work and relationships. </p>
      </div>
      <div class="col">
        <h2>Key Benefits</h2>
        <ul>
            <li>Gain valuable knowledge</li>
            <li>Improve your focus</li>
            <li>Improve your memory</li>
            <li>Improve your communication skills</li>
            <li>Reduce stress</li>
            <li>Improve your mental health</li>
            <li>Live longer</li>
        </ul>
      </div>
      <div class="col">
        <h2>Thougt for the day!</h2>
        <p>Never give up. Today is hard, tomorrow will be worse, but the day after tomorrow will be sunshine. Never give up on your dreams, no matter how painful and difficult your journey is.</p>
      </div>
    </div>
    <hr>
  </div>
  </main>
<footer class="container">
    &copy; ATZ Library 2024
</footer>
{% endblock %}