<!doctype html>
{%load static%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Management Information System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .jambotron{
        padding: 2rem 1rem;
        margin-bottom: 1rem;
        background-color:#e9ecef ;
        border-radius: 0.3rem;
      }
    </style>
    
    
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-center align-items-center" style="background-color: #0000FF;">
        <span class="navbar-brand mb-0 h1 text-light">
          <img src="{% static '/arilogo.ico' %}" alt="ATZ" height="45" style="margin-right: 10px;"> ATZ Library</span>
      </div>
    </nav>
<!--
  <div class="justify-content-center container-fluid align-items-center ">
    <ul class="nav nav-tabs justify-content-center">
   
      <li class="nav-item ">
        {% if current_tab == home %}
         <a class="nav-link active" aria-current="page" href="">HOME</a>
        {% else %}
         <a class="nav-link" aria-current="page" href="">HOME</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if current_tab == readers %}
         <a class="nav-link active" aria-current="page" href="">READERS</a>
        {% else %}
         <a class="nav-link" aria-current="page" href="">READERS</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if current_tab == books %}
         <a class="nav-link active" aria-current="page" href="">BOOKS</a>
        {% else %}
         <a class="nav-link" aria-current="page" href="">BOOKS</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if current_tab == issued %}
         <a class="nav-link active" aria-current="page" href="">ISSUED</a>
        {% else %}
         <a class="nav-link" aria-current="page" href="">ISSUED</a>
        {% endif %}
      </li>
      
      
      
    </ul>
  </div>
-->
  {% block main_content%}
  {% endblock %}
  <style>
   
   </style> 
  </body>
</html>
