<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content%}

<section>
    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">

                        <form class="d-flex" action="" method="POST">
                            <div class="col-md-8">
                            <div class="row">
                            <div class="mb-3">
                                
                                {% csrf_token %}
                                {{form.as_p}}
                            </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
            
                           </div> 
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
         
            
            
       
  

  

</div>

</div>



{% endblock main_content %}